.i1{height:600px;
    width:380px;        
    margin-top:20px;
    margin-left: 240px;   
}
@keyframes i{
    0%{background-image: url("insta0.png");}
    25%{background-image: url("insta1.png");}
    50%{background-image: url("insta2.png");}
    75%{background-image: url("insta3.png");}
    100%{background-image: url("insta0.png");}
}
.i{ z-index: 1;
    animation-name: i;
    animation-duration: 10s;
    }
.d2{border:1px solid lightgrey;
    width:270px;
    padding:40px ;
    margin-left:650px ;
    margin-top:-590px ;
                }
.p1{text-align: center;
    margin-top: -10px;
    font-size:40px;
    font-family:lobster;
    }
input{
    width:260px;
    height:30px;
    border:1px solid #dbdbdb;
    background-color: #fafafa;
    color:#737373;
    border-radius: 2px;
    font-size: 12px;
    }
.in1{
    margin-top:6px;
}
.b{width:265px;
    height: 30px;
background-color: #4cb5f9;
color:white;
border-radius: 5px;
border:none;
}
.f{border:none;
    color:#737373;
    border-top: 1px solid lightgrey;}
.i2{height:15px;
    width:15px;
    }
.a1{text-decoration: none;
    font-weight:700px;
    font-size: 13px;
    color:#385185;
    font-family: verdana;
    margin-left: 50px;
    margin-top:-5px;
    }
    .a2{
        margin-left:80px;
        text-decoration: none;
        color: #00376b;
        font-size: small;
    }
    .d3{margin-left:650px;
        border:1px solid lightgrey;
        width:340px;
        margin-top: 10px;
        padding:5px ;}
    .p2{margin-left:65px}
    .a3{text-decoration: none;
        color:#4cb5f9;
        }
    .d4{margin-left: 650px;
    margin-top: 10px;}
    .p3{margin-left:130px;}
    .i3{height:40px;
    width:130px;
    margin-left:-82px}
    .i4{height:40px;
    width:110px;
    margin-left:10px;}