.d1{margin-top: -38px;}
        .h4{margin-top: -28px;}
        .body{background-color: #ffffe8;
        margin-left: -10px;}
        .p1{font-size: 40px;
        font-weight: bold;}
        .nav{background-color: #ffc107;
        font-weight: bold ;
        padding: 19px;
        margin-top: 42px;}
        .d2{margin-left: 85px;
        }
        .a1{padding-left: 10px;
        color:#4c3a02;
        margin-left: 1px;
        text-decoration: none;}
        .p5{font-size:40px;}
        .d3{margin-top: -40px;}
        img{border:3.5px solid white;
            outline:1px solid lightgrey ;
        border-radius: 5px;}
        
        .i1,.i2,.i3{margin-top: -30px;}
        .i1{margin-left: -60px; }
        .i2{margin-left: 120px }
        .i3{margin-left: 120px }
        .i4{margin-left: -60px; }
        .i5{margin-left: 120px }
        .i6{margin-left: 120px }
        .d4{background-color: #aacb73;
        height:85px;
        margin-top: -10px;}
        .p3{font-size: x-large;}
        .d5{margin-top: -10px;}
        .p4{margin-top: 5px;}