.d1{margin-top: -15px;}
        .body{background-color: #ffffe8;
        margin-left: -10px;}
        .p1{font-size: 40px;
            margin-top: 15px;
        }
        .nav{background-color: #ffc107;
        font-weight: bold ;
        padding: 19px;
        }
        .d2{margin-left: 85px;
        }
        .a1{padding-left: 10px;
        color:#4c3a02;
        font-weight: 400;
        margin-left: 1px;
        text-decoration: none;}
        .p5{font-size:40px;
        margin-top: 1px;
        margin-left: 20px;}
        .p6{margin-top: -25px;
            margin-left: 10px;}
        .p7{font-size: 30px;
        margin-top: 45px;}
        input{height:35px ;
        width:500px;
        margin-top: 10px;
        outline: 1px solid lightgrey;
        border: none;
        border-radius: 5px;}
       .s{background-color: green;
        border:3px solid black;
        
        padding: 5px;
        }
        section{margin-top: 10px;}
    
        .d4{background-color: #aacb73;
        height:85px;
        margin-top: 80px;}
        .p3{font-size: x-large;}
        .d5{margin-top: -10px;}
        .p4{margin-top: 5px;}