.d1{margin-top: -15px;}
        .h4{margin-top: -28px;}
        .body{background-color: #ffffe8;
        margin-left: -10px;}
        .p1{font-size: 40px;
        font-weight: bold;}
        .nav{background-color: #ffc107;
        font-weight: bold ;
        padding: 19px;
        margin-top: 42px;}
        .d2{margin-left: 85px;
        }
        .a1{padding-left: 10px;
        color:#4c3a02;
        margin-left: 1px;
        text-decoration: none;}
        .p5{font-size:40px;}
        th{text-align:left;
        border-bottom: 1px solid lightgrey;}
        td{font-size: 30px;}

        .d4{background-color: #aacb73;
        height:85px;
        margin-top: -10px;}
        .p3{font-size: x-large;}
        .d5{margin-top: -10px;}
        .p4{margin-top: 5px;}